
    .logo {
        display: block;
        margin: 30px auto;
        width: 85px;
        height: 85px;
    }
    body {
        background-image: url('../background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; 
    }
    .messagecontainer{
        overflow-y: auto;
    }
    .messagecontainerparent{
        display: block;
        background-color: rgba(255, 255, 255, 0.973);
        margin: 20px auto;
        margin-right: 2vh;
        padding: 10px;
        border: 2px solid darkgoldenrod;
        border-radius: 12px;
    }
    .hintcontainer {
        display: block;
        background-color: black;
        margin: 20px auto;
        padding: 33px;
        border: 2px solid darkgoldenrod;;
        border-radius: 12px;
        overflow-y: auto;
    }
    .synonymcontainer {
        display: block;
        background-color: black;
        margin: 20px auto;
        padding: 33px;
        border: 2px solid darkgoldenrod;;
        border-radius: 12px;
        overflow-y: auto;
    }
    .bg-gradient{
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #efc443 100%);
    }
    .next-heading{
        color: white;
        text-align: center;
        font-size: 35px;
        font-style: italic;
        margin-bottom: 30px;
    }
    .span-class{
        color: white;
        margin: 0 15px;
        font-size: 22px;
        margin-top: 20px;
    }
    .ps-img{
        width: 450px;
        padding: 10px 0;
    }
    .ps-img img{
        width: 100%;
    }
    .question{
        font-size: 25px;
    }
    .questionword{
        font-size: 55px;
        font-weight: bolder;
        color: white;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin-top: 3vh;
    }
    .hint{
        font-size: larger;
        font-weight: bolder;
    }
    .questioncontainer{
        display: block;
        background-color: black;
        padding: 33px;
        margin-top: 21px;
        border: 2px solid darkgoldenrod;;
        border-radius: 12px;
        overflow-y: auto;
        height: 17vh;
    }
    .messagecontainer{
        height: 35vh;
    }
    .answercontainer, .hintcontainer, .synonymcontainer {
        max-width: 500px;
        height: 20vh;
    }
    .message {
        background-color: white;
        color: #000;
        width: 70%;
        padding: 10px;
        margin: 17px 3px;
        border: 2px solid darkgoldenrod;
        border-radius: 12px;
    }
    .left {
        float: left;
        clear: both;
        background-color: white;
    }
    .right {
        float: right;
        clear: both;
        background-color: #E7E7E7;
    }
    .timercontainer {
        display: block;
        border-radius: 5px;
    }
    .time{
        width: 120px;
        height: 120px;
        text-align: center;
        border: 2px solid darkgoldenrod;
        border-radius: 50%;
        padding: 0;
    }
    .heading{
        border: 2px solid darkgoldenrod;
        padding: 10px; 
    }
    .heading h1{
        /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #efc443 100%); */
        padding: 0 7px;
        margin: 0;
    }
    .btn {
        cursor: pointer;
        border: 2px solid rgb(53, 53, 53);
        border-radius: 6px;
        height: 34px;
        margin: 10px;
        padding: 0 20px;
        color: #fff;
    }
    .btn {
        background: linear-gradient(90deg, #020024 0%, #090979 35%, #efc443 100%);
    }
    .btn-yourturn {
        background-color: rgb(238, 58, 58);
    }
    #send-container, #answer-container {
        display: block;
        margin: 5px auto;
        text-align: center;
        width: 100%;
    }
    #messageInp{
        width: 92%;
    }
    #answerInp {
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border: 2px solid darkgoldenrod;
        outline: none !important;
        border-radius: 10px;

    }
    .ansbtn{
        padding: 10px;
        margin: 0 15px;
        border-radius: 10px;
        border: 2px solid darkgoldenrod;
        background: linear-gradient(90deg, #020024 0%, #090979 35%, #efc443 100%);
        color: white;
        font-weight: bold;
    }
    .col-4, .col-8 {
        padding: 0 15px;
    }
    nav {
        text-align: center;
    }
    .send {
        text-align: center;
        border: 2px solid darkgoldenrod;
        border-radius: 6px;
        padding: 10px;
    }
    .userdetails {
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #020024 0%, #090979 35%, #efc443 100%); /* Grey background */
    }
    
    .avatar-container {
        width: 60px; /* Increased size of avatar container */
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .avatar {
        width: 100%;
        height: auto;
    }
    
    .username {
        color: white;
        margin-left: 15px; /* Increased margin to space out from larger avatar */
        font-size: 20px; /* Increased font size */
        font-weight: bold; /* Bold text */
    }